aiosqlite==0.21.0
alembic==1.16.4
bcrypt==4.0.1
boto3==1.39.15
email-validator==2.2.0
fastapi==0.116.1
httpx==0.28.1
jinja2==3.1.6
markdown==3.8.2
mypy==1.17.0
numpy==1.24.2
passlib[bcrypt]==1.7.4
pydantic==2.11.7
pydantic-settings==2.10.1
pyproj==3.7.1
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
ruff==0.12.5
shapely==2.1.1
sqlalchemy[asyncio]==2.0.41
uvicorn[standard]==0.35.0
